@import "https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Raleway:wght@400;900&display=swap";


* {
    box-sizing: border-box;
    padding: 0;
}

body,
html {
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    background-color:white;
    height: 100vh;
}

a {
    color:#bd4747;
}

.banner-link {
    color: white;
}

a:hover {
    color:rgb(180, 180, 180);
    text-decoration: none;
}

p {
   margin: 0; 
   
}
h2 {
    font-weight: bold;
    color:#bd4747;
}

h1, h5 {
    color:#bd4747;
}
/*
.nav {
    padding-top: 20px;
    border-top: #919191;
 
     border-bottom: 3px solid red;
}
*/
.fa {
    color: white;
}

.responsive {
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    height: 150px;
}

/* --------------------------------------------Containers */

.container-fluid {
    padding: 0;
}

.banner {
    background-color:#bd4747;
    color: white;
    text-align: center;
    height: 50px;
    padding-top: 15px;
}

.carousel-container {
    padding-top:20px;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 60%;
}

/* Buttons */

.btn {
    border:none;
}

.button-pdf {
    border-radius: 23px;
    height: 80px;
    width: 300px;
    color:white;
    background-color:#bd4747;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.button-cta {
    border-radius: 23px;
    width: 160px;
    color:white;
    background-color:#bd4747;
    font-family: 'Raleway', sans-serif;
}

.button-cta:hover {
    background-color:black;
    box-shadow: none;
}

.button-pdf:hover {
    background-color:black;
    box-shadow: none;
}

/* Form */

.form-container {
    margin-top: 15px;
    padding:0;
}

.form-header {
    margin-top: 20px;
    text-align: center;
    
}

.subtext {
    font-family: 'Raleway', sans-serif;
}

.form-group {
   margin-top: 0;
    max-width: 70%;
}

.form-button {
    margin-top: 25px;
    padding-bottom:15px;
}

/* Footer */

footer {
    margin-top: 30px;
    background-color:#bd4747;
    color: white;
    padding: 0 0 15px 0;
}

.copyright-container {
    text-align:center; 
    margin-top: 40px;
}


.social-links li a i {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 9px;
    text-align: center;
    color:red;
    background: #000000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #919191;
}


/* Media queries */

@media(min-width: 992px) {
    .form-group {
        padding-top:20px;
        margin: 0 auto;
        max-width: 50%;
        min-height:240px;
    }
}

@media only screen and (max-width: 505px) {
    .banner {
    min-height: 75px;
    }

/*Carousel */
.container-fluid {

}



.carousel-item {

}
